@import "../App.css";

.page-container {
    margin-left: var(--margin-left-val);
    margin-right: var(--margin-right-val);
    top: 80px;
    bottom: 0;
    right: 0;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.title-container {
    height: calc(100vh - 100px);
    /* background-color: blue; */
}

.title-container span {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .title-container {
        height: 100%;
    }

    .title-container span {
        position: relative;
    }

    /* p, li {
        font-size: 3vw;
    } */
}

.title-text {
    font-size: 10vw;
    /* animation: fadeIn 1.8s; */
}

/* @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

.header-text {
    font-size: 5vw;
    margin-bottom: 0;
    padding: 0; 
}

.fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.active {
    opacity: 1;
    transform: none;
    visibility: visible;
}

#about, #experience, #projects, #contact {
    scroll-margin-top: 100px;
}

hr {
    opacity: 50%;
}
