@import "../App.css";

:root {
    background: var(--background-color);
    --nav-text-color: #1B1212;
    --nav-color: #ffffff;
    --nav-underline-color: linear-gradient(90deg, rgba(62,0,178,1) 0%, rgba(0,117,255,1) 100%);
}

.navbar {
    background: var(--nav-color);
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 100%;
    padding-left: var(--margin-left-val);
    padding-right: var(--margin-right-val);
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
}
  
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    color: var(--nav-text-color);
    display: flex;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    white-space: nowrap;
    /* width: 100%; */
    /* background-color: blue; */
}

.navbar-logo-text {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    white-space: nowrap;
    /* width: 100%; */
    /* background-color: blue; */
}

/* .navbar-logo::before {
    position: absolute;
    top: 0;
    left: 0;
    color: green;
    width: 0%;
    transition: 1s;
} */

/* .navbar-logo:hover::before {
    width: 100%;
} */
  
.nav-item {
    width: 100%;
}

.nav-links {
    position: relative;
    color: var(--nav-text-color);
    text-decoration: none;
    align-items: center;
    height: 100%;
    display: flex;
    width: 100%;
    /* margin-left: 10px; */
}
  
.nav-links:hover {
    color: var(--nav-text-color);
}
  
.nav-links::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--nav-underline-color);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}
  
.nav-links:hover::before {
    transform: scaleX(1);
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: end;
    transition: all 0.5s ease;
}

@media screen and (max-width: 900px) {
    .navbar {
        background: var(--nav-color);
        height: var(--nav-height);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
        max-width: 100%;
        padding-left: var(--margin-left-val);
        padding-right: var(--margin-right-val);
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: var(--nav-height);
        margin: 0;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        /* padding: 0 5%; */
        height: calc(100vh - var(--nav-height));
        padding-top: 20px;
        border-top: 1px solid #000;
    }
    .active {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .menu-icon-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .menu-icon {
        display: inline-block;
        /* transform: translate(-100%, 40%); */
        font-size: 1.8rem;
        cursor: pointer;
        /* width: 35px;
        height: 35px; */
        justify-self: flex-end;
        /* width: 100%; */
        /* align-self: flex-end; */
    }

    .nav-links {
        position: relative;
        color: var(--nav-text-color);
        text-decoration: none;
        height: 100%;
        display: flex;
        width: fit-content;
        /* margin-left: 10px; */
    }
}


.fa-bars {
    color: var(--nav-text-color);
}
  
.nav-links-mobile {
    display: none;
}
  
.inactive {
    display: none;
}