:root {
  --margin-left-val: 3%;
  --margin-right-val: 3%;
  --nav-height: 80px;
  --text-color: #1B1212;
  --background-color: #ffffff;
  background: var(--background-color);
}

body, html {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}
